<div class="container" infinite-scroll="loadMore()" infinite-scroll-distance="5" infinite-scroll-use-document-bottom="true">

  <ul ng-show="snis.length >= 1" class="horizontal right">
    <li>
      <a href="#!/snis/add" class="btn-floating btn-large waves-effect waves-light">
        <i class="material-icons">add</i>
      </a>
    </li>
  </ul>

  <h3 class="header">
      SNIs
    </h3>

    <p class="flow-text center" ng-show="total === null" style="margin-top:50px;">
        <app-loader></app-loader>
    </p>

    <div class ng-show="total === 0">
        <p class="flow-text center">
            You haven't defined any SNI in Kong yet.
        </p>
        <p class="center">
            <a href="#!/snis/add" class="waves-effect waves-light btn">
                <i class="material-icons left">add_box</i>
                Add SNI
            </a>
        </p>
    </div>

    <table class="bordered" ng-show="total > 0">
        <thead>
        <tr>
            <th>Name</th>
            <th>SSL Certificate id</th>
            <th>Created</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="sni in snis">
            <td>{{sni.name}}</td>
            <td>{{sni.ssl_certificate_id}}</td>
            <td>{{sni.created_at | date}}</td>
            <td class="right">
                <a class="btn-floating waves-effect waves-light" href="#!/snis/{{sni.name}}">
                    <i class="material-icons">mode_edit</i>
                </a>
                <a class="btn-floating waves-effect waves-light red modal-trigger" ng-click="showDeleteModal(sni.name)">
                    <i class="material-icons">delete</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Modal Structure -->
<div id="deleteSni" class="modal">
    <div class="modal-content">
        <h5>Do you really want to delete the SNI "{{current.name}}"?</h5>
    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-green btn" ng-click="abortDelete()">Noooooo!</a>
        <a class="waves-effect waves-red btn red" ng-click="performDelete()" style="margin-right:10px">Yes</a>
    </div>
</div>
