<table class="bordered" ng-show="vm.resources.length > 0">
  <tr>
    <th>ID</th>
    <th>Created</th>
    <th>SNIs</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="resource in vm.resources">
    <td ng-bind-html="resource.id | objectProperty"></td>
    <td ng-bind-html="resource.created_at | date"></td>
    <td ng-bind-html="resource.snis | objectProperty"></td>
    <td class="right">
      <a class="btn-floating waves-effect waves-light" href="#!/certificates/{{resource.id}}">
        <i class="material-icons">mode_edit</i>
      </a>
      <a class="btn-floating waves-effect waves-light red modal-trigger" ng-click="vm.showDeleteModal(resource.name, resource.id)">
        <i class="material-icons">delete</i>
      </a>
    </td>
  </tr>
  </tbody>
</table>
