<table class="bordered" ng-show="vm.resources.length > 0">
  <tr>
    <th>Username</th>
    <th>Password</th>
    <th>Created</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="resource in vm.resources">
    <td ng-bind-html="resource.username | objectProperty"></td>
    <td ng-bind-html="resource.password | objectProperty"></td>
    <td>{{resource.created_at | date}}</td>
    <td class="right">
      <a class="btn-floating waves-effect waves-light red modal-trigger" ng-click="vm.showDeleteModal(resource.username, resource.id)">
        <i class="material-icons">delete</i>
      </a>
    </td>
  </tr>
  </tbody>
</table>
