<table class="bordered" ng-show="vm.resources.length > 0">
  <tr>
    <th>Name</th>
    <th>Client ID</th>
    <th>Client Secret</th>
    <th>Redirect URI</th>
    <th>Created</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="resource in vm.resources">
    <td ng-bind-html="resource.name | objectProperty"></td>
    <td ng-bind-html="resource.client_id | objectProperty"></td>
    <td ng-bind-html="resource.client_secret | objectProperty"></td>
    <td ng-bind-html="resource.redirect_uri | objectProperty"></td>
    <td>{{resource.created_at | date}}</td>
    <td class="right">
      <a class="btn-floating waves-effect waves-light red modal-trigger" ng-click="vm.showDeleteModal(resource.name, resource.id)">
        <i class="material-icons">delete</i>
      </a>
    </td>
  </tr>
  </tbody>
</table>
