<div class="container" infinite-scroll="loadMore()" infinite-scroll-distance="5" infinite-scroll-use-document-bottom="true">

  <ul ng-show="targets.length >= 1" class="horizontal right">
    <li class="search" style="width:300px;">

            <div class="switch">
                <label>
                    All Targets
                    <input type="checkbox" ng-model="active" ng-change="reloadList()"><span class="lever"></span>
                    Active Targets
                </label>
            </div>

    </li>
    <li>
      <a href="#!/upstreams/{{ upstream.id }}/targets/add" class="btn-floating btn-large waves-effect waves-light">
        <i class="material-icons">add</i>
      </a>
    </li>
  </ul>

  <h3 class="header">
    {{title}}
  </h3>

    <p class="flow-text center" ng-show="total === null" style="margin-top:50px;">
        <app-loader></app-loader>
    </p>

    <div class ng-show="total === 0">
        <p class="flow-text center">
            You haven't defined any Target for {{upstream.name}}
        </p>
        <p class="center">
            <a href="#!/upstreams/{{ upstream.id }}/targets/add" class="waves-effect waves-light btn">
                <i class="material-icons left">add_box</i>
                Add Target
            </a>
        </p>
    </div>

    <table class="bordered" ng-show="total > 0">
        <thead>
        <tr>
            <th>ID</th>
            <th>Target</th>
            <th>Weight</th>
            <th>Created</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="target in targets">
            <td>{{target.id}}</td>
            <td>{{target.target}}</td>
            <td>{{target.weight}}</td>
            <td>{{target.created_at | date}}</td>
            <td class="right">
                <a class="btn-floating waves-effect waves-light red modal-trigger" ng-click="showDeleteModal(target.id, target.name, target.upstream_id)">
                    <i class="material-icons">delete</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="input-field col s6 " >
            <a href="#!/upstreams/{{upstream.id}}" class="waves-effect waves-light btn" >
                <i class="material-icons left">arrow_back</i>
                Upstream
            </a>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="deleteTarget" class="modal">
    <div class="modal-content">
        <h5>Do you really want to delete the Target "{{current.name}}"?</h5>
    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-green btn" ng-click="abortDelete()">Noooooo!</a>
        <a class="waves-effect waves-red btn red" ng-click="performDelete()" style="margin-right:10px">Yes</a>
    </div>
</div>
