<div class="container">
    <h3 class="header">{{title}}</h3>

    <div class="row">
        <div class="col s5">
            <div class="card-panel teal">
                <p class="white-text">
                    A certificate object represents a public certificate/private key pair for an SSL certificate. These objects are used by Kong
                    to handle SSL/TLS termination for encrypted requests. Certificates are optionally associated with SNI
                    objects to tie a cert/key pair to one or more hostnames.
                </p>

                <p class="white-text">
                    Checkout <a href="https://getkong.org/docs/latest/admin-api/#add-certificate" target="_blank">Kong documentation</a>                    for the meaning of the form parameters.
                </p>
            </div>
        </div>
        <form name="addCertificate" class="col s7" novalidate ng-submit="save()">
            <div class="row">

                <div class="input-field col s12" ng-show="isEdit()">
                    <input id="id" ng-model="certificate.id" type="text" class="validate"
                       ng-class="{invalid: error.id}" ng-readonly="isEdit()" >
                    <label for="id" ng-class="{active:certificate.id}">ID</label>
                    <app-field-error error="error.id"></app-field-error>
                </div>
                <div class="input-field col s12">
                    <textarea autofocus id="cert" ng-model="certificate.cert" class="validate materialize-textarea"
                        ng-required="true" ng-class="{invalid: error.cert}" rows="4"></textarea>
                    <label for="cert" ng-class="{active:certificate.cert}">Cert</label>
                    <app-field-error error="error.cert"></app-field-error>
                </div>
                <div class="input-field col s12">
                    <textarea id="key" ng-model="certificate.key" class="validate materialize-textarea"
                        ng-required="true" ng-class="{invalid: error.key}" rows="4"></textarea>
                    <label for="key" ng-class="{active:certificate.key}">Key</label>
                    <app-field-error error="error.key"></app-field-error>
                </div>
                <div class="input-field col s12">
                    <input id="snis" ng-model="certificate.snis" type="text" class="validate"
                    ng-class="{invalid: error.snis}" ng-show="! isEdit()">
                    <ul ng-repeat="sni in certificate.snis" ng-show="isEdit()" ng-readonly="true" >
                            <li>{{sni}}</li>
                    </ul>
                    <label for="snis" ng-class="{active:certificate.snis}">SNIs</label>
                    <app-field-error error="error.snis"></app-field-error>
                </div>

                <div class="input-field col s6" >
                    <a href="#!/snis/add/{{certificate.id}}" class="waves-effect waves-light btn" ng-show="isEdit()">
                        <i class="material-icons left">add_box</i>
                        Add SNI
                    </a>
                </div>
                <div class="input-field col s6">
                    <button type="submit" class="waves-effect waves-light btn right">
                        {{action}}
                    </button>
                </div>

            </div>
            <input type="hidden" ng-model="certificate.id" value="{{certificate.id}}" />
        </form>
    </div>
</div>
