<div class="container" infinite-scroll="loadMore()" infinite-scroll-distance="5" infinite-scroll-use-document-bottom="true">

  <ul ng-show="certificates.length >= 1" class="horizontal right">
    <li>
      <a href="#!/certificates/add" class="btn-floating btn-large waves-effect waves-light">
        <i class="material-icons">add</i>
      </a>
    </li>
  </ul>

  <h3 class="header">
      Certificates
    </h3>

    <p class="flow-text center" ng-show="total === null" style="margin-top:50px;">
        <app-loader></app-loader>
    </p>

    <div class ng-show="total === 0">
        <p class="flow-text center">
            You haven't defined any Certificates in Kong yet.
        </p>
        <p class="center">
            <a href="#!/certificates/add" class="waves-effect waves-light btn">
                <i class="material-icons left">add_box</i>
                Add Certificate
            </a>
        </p>
    </div>

    <table class="bordered" ng-show="total > 0">
        <thead>
        <tr>
            <th>ID</th>
            <th>Created</th>
            <th>SNIs</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="certificate in certificates">
            <td>{{certificate.id}}</td>
            <td>{{certificate.created_at | date}}</td>
            <td>
                <ul ng-repeat="sni in certificate.snis" >
                    <li>{{sni}}</li>
                </ul>
            </td>

            <td class="right">
                <a class="btn-floating waves-effect waves-light" href="#!/certificates/{{certificate.id}}">
                    <i class="material-icons">mode_edit</i>
                </a>
                <a class="btn-floating waves-effect waves-light blue" href="#!/snis/add/{{certificate.id}}">
                    <i class="material-icons">dns</i>
                </a>
                <a class="btn-floating waves-effect waves-light red modal-trigger" ng-click="showDeleteModal(certificate.id)">
                    <i class="material-icons">delete</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Modal Structure -->
<div id="deleteCertificate" class="modal">
    <div class="modal-content">
        <h5>Do you really want to delete the Certificate "{{current.id}}"?</h5>
    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-green btn" ng-click="abortDelete()">Noooooo!</a>
        <a class="waves-effect waves-red btn red" ng-click="performDelete()" style="margin-right:10px">Yes</a>
    </div>
</div>
