<div class="container">
    <h3 class="header">{{title}}</h3>

    <div class="row">
        <div class="col s5">
            <div class="card-panel teal lighten-2">
                <h5 class="white-text">
                    <i class="material-icons small">highlight</i>
                    What's an API?
                </h5>
                <p class="white-text">
                    {{ apiObjectSchema.description }}
                </p>
                <p class="white-text">
                    <a href="{{ apiObjectSchema.documentation }}" target="_blank">Official Kong documentation.</a>
                </p>
            </div>
        </div>
        <form name="addAPI" class="col s7" novalidate ng-submit="save()">
            <div class="row">
                <resource-attribute
                  ng-repeat="(key, schema) in apiObjectSchema.fields"
                  schema="schema"
                  name="key"
                  ></resource-attribute>

                <div class="input-field col s12">
                    <button type="submit" class="waves-effect waves-light btn right">
                        {{action}}
                    </button>
                </div>
            </div>
            <input type="hidden" ng-model="api.id" value="{{api.id}}" />
        </form>
    </div>
</div>
