<div class="container">
    <a href="#/apis/add" class="btn-floating btn-large waves-effect waves-light right" ng-show="apis.length >= 1">
        <i class="material-icons">add</i>
    </a>

    <h3 class="header">APIs</h3>

    <p class="flow-text center" ng-show="total == 0" style="margin-top:50px;">
        You haven't created any API in Kong yet.
    </p>

    <p class="flow-text center" ng-show="apis.length == 0 && total > 0" style="margin-top:50px;">
        You have reached the end of the list. 
    </p>

    <p class="flow-text left" ng-show="apis.length > 0" style="margin-top:50px;">
        Showing {{apis.length}} Apis / {{total}}
    </p>

     <p class="right" ng-show="next" style="margin-top:50px;">
        <a href="#/apis?offset={{offset}}&size={{size}}" class="waves-effect waves-light btn">
            <i class="material-icons left">navigate_next</i>
            Go to next page
        </a>
    </p>

    <p class="center" ng-show="total == 0">
        <a href="#/apis/add" class="waves-effect waves-light btn">
            <i class="material-icons left">add_box</i>
            Add API
        </a>
    </p>

    <p class="center" ng-show="apis.length == 0 && total > 0">
        <a href="#/apis?size={{size}}" class="waves-effect waves-light btn">
            <i class="material-icons left">skip_previous</i>
            Go to first page
        </a>
    </p>

    <table class="bordered" ng-show="apis.length >= 1">
        <thead>
        <tr>
            <th>Name</th>
            <th>Request host</th>
            <th>Request path</th>
            <th>Upstream url</th>
            <th>Created</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="api in apis">
            <td>{{api.name}}</td>
            <td>{{api.request_host}}</td>
            <td>{{api.request_path}}</td>
            <td>{{api.upstream_url}}</td>
            <td>{{api.created_at | date}}</td>
            <td class="right">
                <a class="btn-floating waves-effect waves-light" href="#/apis/{{api.id}}">
                    <i class="material-icons">mode_edit</i>
                </a>
                <a class="btn-floating waves-effect waves-light blue" href="#/apis/{{api.id}}/plugins">
                    <i class="material-icons">extension</i>
                </a>
                <a class="btn-floating waves-effect waves-light red modal-trigger" ng-click="showDeleteModal(api.name, api.id)">
                    <i class="material-icons">delete</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Modal Structure -->
<div id="deleteAPI" class="modal">
    <div class="modal-content">
        <h5>Do you really want to delete the API "{{current.name}}"?</h5>
    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-green btn" ng-click="abortDelete()">Noooooo!</a>
        <a class="waves-effect waves-red btn red" ng-click="performDelete()" style="margin-right:10px">Yes</a>
    </div>
</div>
