<div class="input-field col s12">
  <input
    id="{{ 'attr_' + $ctrl.name }}"
    type="{{ $ctrl.type }}"
    ng-attr-placeholder="{{ $ctrl.schema.default }}"
    class="validate">

  <label
    for="{{ 'attr_' + $ctrl.name }}"
    ng-class="{ 'active': $ctrl.schema.default }"
    style="margin-bottom: 15px">
    {{ $ctrl.name }}
  </label>

  <p ng-if="$ctrl.schema.description"
     class="grey-text"
     style="margin-top: 0; margin-bottom: 30px; font-size: 85%">
    <em>{{ $ctrl.schema.description }}</em>
  </p>
</div>
