<attribute-input
  ng-if="$ctrl.schema.type == 'string'"
  type="'text'"
  schema="$ctrl.schema"
  error="$ctrl.error"
  value="$ctrl.value"
  name="$ctrl.name"></attribute-input>

<attribute-input
  ng-if="$ctrl.schema.type == 'url'"
  type="'url'"
  schema="$ctrl.schema"
  error="$ctrl.error"
  value="$ctrl.value"
  name="$ctrl.name"></attribute-input>

<attribute-input
  ng-if="$ctrl.schema.type == 'number'"
  type="'number'"
  schema="$ctrl.schema"
  error="$ctrl.error"
  value="$ctrl.value"
  name="$ctrl.name"></attribute-input>

<checkbox
  ng-if="$ctrl.schema.type == 'boolean'"
  schema="$ctrl.schema"
  error="$ctrl.error"
  value="$ctrl.value"
  name="$ctrl.name"
  ></checkbox>

<multi-select
  ng-if="$ctrl.schema.type == 'array' && $ctrl.schema.items.type == 'string' && $ctrl.schema.items.enum"
  schema="$ctrl.schema"
  error="$ctrl.error"
  value="$ctrl.value"
  name="$ctrl.name"
  ></multi-select>

<attribute-input
  ng-if="$ctrl.schema.type == 'array' && $ctrl.schema.items.type == 'string' && !$ctrl.schema.items.enum"
  type="'text'"
  schema="$ctrl.schema"
  value="$ctrl.value"
  error="$ctrl.error"
  name="$ctrl.name"></attribute-input>
