@import './node_modules/materialize-css/sass/materialize.scss';

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:300;
}

.header {
    color: $primary-color;
    font-weight: 300;
    margin-top:50px;
    margin-bottom:50px;
}

nav i.material-icons {
    vertical-align: middle;
    display: inline-block;
}

a {
    cursor: pointer;
}

.loadingIndicator {
    position:absolute;
    top:0;
    left:0;
    padding:2px 5px;
    color:white;
}

.white-text > a {
    color: white;
    text-decoration:underline;
}

.fade.ng-hide {
    opacity: 0;
    position:relative;
    top: -5000px;
}
.fade.ng-hide-remove, .fade.ng-hide-add {
    display: block !important;
    position: static;
}
.fade.ng-hide-remove {
    transition: all linear 1000ms;
    position: static;
}

.fade.ng-hide-add {
    transition: all linear 500ms;
    position: static;
}

.home-block p {
    text-align:justify;
}

.errors ul {
    margin:0;
    list-style-position: inside;

    li {
        list-style-type: circle;
    }
}

footer {
    background-color: $primary-color;
}

